body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

div#sketch {
    width: 960px;
    height: 960px;
    background-color: rgb(166, 255, 0);
    display: flex;
    flex-wrap: wrap;
}

div.pixel {
    /* border: 1px solid red; */
    flex: 1 1 auto;
    width: 60px; /* width: 5.75%; /* must be 6.25% if border is disabled */
    /* transition: background-color 0.5s; */
}

div.pixel:hover {
    background-color: bisque;
  }